body {background-color: #43E8E8}
.titleGrid {
  background-color: #07A3A3;
  height: 80px;
  display: grid;
  grid-template-columns: auto 300px 300px 200px;
}
.titleGrid-item {text-align:center;
padding: 30px}
h1 {color: white;
  font-size: 90px;
  font-family: fantasy
  }

.Gamesflex {
  display:flex;
  flex-wrap: wrap;
}
.images {width: 350px; height: 500px}
.images:hover {position: absolute;
border: 5px solid #C7BF50 ;
border-radius: 20px
}

.game-item {margin: 20px;
width: 200px;
padding: auto}


#titleGrid-item2 {text-align: left;
padding-left: 20px;
padding-bottom: 20px}
h3 {
  font-family:cursive;
  color: white;
font-size: 25px}
.input-form {background-color:#07A3A2;
  color: white;
  border: 0px;
font-size: 25px;
}
::placeholder {color: white;
font-family: fantasy;}

.input-form:hover {border: 2px solid white;
border-radius: 20px}


h1:hover {color: #C7BF50}

.copyright {color: White;
text-align: center;
padding: 50px
}
.foot {background-color:#C7BF50;
height:100px}

.images-games{width: 1000px;}
.gamesGrid{display: grid;
  padding: 20px;
  text-align: justify;
grid-template-columns: auto auto}
.game-item2 > div {padding: 20px}
p{padding: 20px;
font-size: 20px}
h2{padding: 20px;
font-family: fantasy;
font-size: 50px;
color: #C7BF50}
